node_modules
.DS_store

/build
/public/build
/server-build
.env

/prisma/data.db
/prisma/data.db-journal

/test-results/
/playwright-report/
/playwright/.cache/
/mocks/fixtures/email/
/coverage

/other/cache.db

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*
